<form method="post" action="{{ path('calendar_delete', {'id': calendar.id}) }}" onsubmit="return confirm('Êtes vous sûr(e) de vouloir supprimer?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ calendar.id) }}">
	<button class="btn">Delete</button>
</form>
