{% extends 'base.html.twig' %}

{% block title %}AgendA - Calendrier
{% endblock %}
{% block stylesheets %}
	<style>
		#calendrier {
			margin: 15px;
			color: grey;
		}
	</style>
{% endblock %}
{% block body %}


	<div id="calendrier"></div>
{% endblock %}
{% block javascripts %}
	<script>
		window.onload = () => {
let calendarElt = document.querySelector('#calendrier')
let calendar = new FullCalendar.Calendar(calendarElt, {
initialView: 'dayGridMonth',
locale: 'fr',
buttonText: {
today: 'Aujourd\'hui',
month: 'Mois',
week: 'Semaine',
list: 'Liste'
},
lang: 'fr',
themeSystem: 'bootstrap',
headerToolbar: {
left: "prev,next today",
center: "title",
right: "dayGridMonth,timeGridWeek listDay"
},
events: {{ data|raw }}

})

calendar.on('eventChange', (e => {
let url = `/api/${
e.event.id
}/edit`
let donnees = {
"backgroundcolor": e.event.backgroundcolor,
"textcolor": e.event.textcolor,
"entretien": e.event.extendedProps.entretien
}
}))

calendar.render()
}
	</script>
{% endblock %}
